<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ghiblifilms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".RecyclerViewFilmsActivity"
            android:banner="@color/colorPrimary"
            android:label="Ghibli films" />
        <activity
            android:name=".DetailActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
